$white: #fff;
$black: #000;
$background-grey: #f7f7f7;
$div-grey: #f2f2f2;

$text-grey: #666;
$text-black: #333;
$text-blue: #3da0fe;

$blue: #4e54e1;
$light-blue: #4d76ea;
$border-blue: #5d72e9;
$word-blue: #c4c9f4;
$footer-blue: #96a0ef;



$light-white: #f4f5fa;
$gray: #333;
$dark-light-gray: #666;
$light-gray: #dbdbdb;
$middle-gray: #c9c9c9;
$dark-gray: #b5b5b5;
$background-gray:#e6e9f2;

$list-background-gray:#eff3f5;
$list-border-gray:#d7d8d8;

$red: #f13341;

$sky-blue: #1dadf5;
$dark-blue: #4e63aa;
$light-blueO: #d1edfb;
$middle-blue: #d3eefc;
$regist-blue: #4d63a9;
$more-blue: #178ddc;
$hover-blue: #43baf3;
$boder-blue: #1eaef6;
$tag-blue: #88abda;
$black-blue:#40528e;

$register-purple: #d5dae9;
$light-purple: #acb4d3;
$middle-purple: #9ea8cc;

$orange-red: #f15a24;
$orange: #e77903;
$light-orange: #f39100;

$light-red: #eb6877;

$green: #55c45f;
$light-green: #abd497;
$dark-green:#469450;
$success-bg-green: #cae6bd;


$input-light-blue: #7ecef4;

// login-box colors
$login-gray: #e5e9f1;
$apply-gray: #f7f9fb;
$background-gray:#fafbfc;

$warning-default-bg: #fdf0ec;
$warning-default: #ec6841;


