/node_modules
/dist
/build-server
/.sass-cache
/app/bower_components
/app/styles
/.idea
npm-debug.log
/uploads
nohup.out
/etc/
/node/
/app/build-scripts
/target/
*.iml
log/
*.log
users.dat
.tmp/
/notebookModel
/notebookApp
__pycache__
.ipynb_checkpoints
/.DS_Store
/app/.DS_Store

