<div class="title">{{appName}}</div>
<div class="content">
  <div style="margin-top: 30px;font-size: 14px;color: #4874ff;" >
    <span class="add_open" ng-click = "openAddArrange()">添加编排</span>
  </div>
  <div ng-repeat="item in makeFileList track by $index">
    <div style="margin-top: 20px;border:solid 1px #f2f2f2;">
      <div style="padding:10px 10px;border-bottom: solid 1px #f2f2f2;background: #f2f2f2;">
        {{appName}}/
        <span>{{item.MAKEFILE_ID}}</span>
      </div>
      <div style="padding:10px 10px;border-bottom: solid 1px #f2f2f2;">
        目标:
        <span>{{item.TARGET}}</span>
      </div>
      <div style="padding:10px 10px;">
        <table style="width: 100%;margin: 0;padding: 0;">
          <tr style="margin: 0;">
            <td style="width: 10%;padding:0;margin: 0;">前置条件:</td>
            <td style="width: 90%;padding:0;margin: 0;">
              <div ng-repeat="item in item.PREREQUISITES track by $index">
                <span>{{$index + 1}}</span>
                <span>{{item}}</span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div ng-if = "makeFileList.length !== 0"style="margin-top: 30px;font-size: 14px;color: #ffffff;">
    <span class="save_make" ng-click = "makeFile()">保存编排</span>
  </div>
</div>
