<div class="title">添加计划 <span class="addBgPic" style="color: #00A000" ng-click="openTaskPlan('create')"></span></div>
<div class="content">
  <table class="contentTitle table">
    <tr class="title">
      <td style="vertical-align: middle;">名称</td>
      <td style="vertical-align: middle;">目标</td>
      <td style="vertical-align: middle;">时间</td>
      <td style="vertical-align: middle;"></td>
    </tr>
    <tr class="content" ng-repeat="schedule in scheduleList">
      <td style="vertical-align: middle;">{{schedule.SCHEDULE_NAME}}</td>
      <td style="vertical-align: middle;">{{schedule.COMMAND}}</td>
      <td style="vertical-align: middle;"ng-if="schedule.DATE">每月 {{schedule.DATE}}日 {{schedule.HOUR}}点{{schedule.MINUTE}}分</td>
      <td style="vertical-align: middle;"ng-if="schedule.DAYOFWEEK">每周 {{schedule.DAYOFWEEK}} {{schedule.HOUR}}点{{schedule.MINUTE}}分</td>
      <td style="vertical-align: middle;"ng-if="!schedule.DAYOFWEEK && !schedule.DATE">每天 {{schedule.HOUR}}点{{schedule.MINUTE}}分</td>
      <td style="vertical-align: middle;">
        <span class="btn" ng-click="deleteSchedule(schedule.SCHEDULE_NAME,schedule.APP_ID)">删除</span>
        <span class="btn" ng-if="schedule.STATE=='SUSPEND'" ng-click="pauseSchedule(schedule.SCHEDULE_NAME,schedule.STATE,schedule.APP_ID)">
          运行
        </span>
        <span class="btn" ng-if="schedule.STATE=='RUNNING'" ng-click="pauseSchedule(schedule.SCHEDULE_NAME,schedule.STATE,schedule.APP_ID)">
          暂停
        </span>
        <span class="btn" ng-click="editSchedule(schedule.SCHEDULE_NAME,schedule)">编辑</span>
      </td>
    </tr>
  </table>
</div>
